@require './config'

$mobileSidebarWidth = $sidebarWidth * 0.82

// narrow desktop / iPad
@media (max-width: $MQNarrow)
  .custom-navbar-top-height
    top 3rem !important
  .custom-sidebar-top-height
    top $topNavHeight + $navbarHeight !important
  .sidebar
    font-size 15px
    width $mobileSidebarWidth
  .page
    padding-left $mobileSidebarWidth

// wide mobile
@media (max-width: $MQMobile)
  .custom-navbar-top-height
    top 3rem !important
  .sidebar
    top 0
    padding-top $navbarHeight
    transform translateX(-100%)
    transition transform .2s ease
  .page
    padding-left 0
  .theme-container
    &.sidebar-open
      .sidebar
        transform translateX(0)
    &.no-navbar
      .sidebar
        padding-top: 0

// narrow mobile
@media (max-width: $MQMobileNarrow)
  .custom-navbar-top-height
    top 4.5rem !important
  h1
    font-size 1.9rem
  {$contentClass}
    div[class*="language-"]
      margin 0.85rem -1.5rem
      border-radius 0

  .search-box
    input
      left 0 !important
      padding 0 0.5rem 0 1.5rem !important
    input:focus
      width 6rem !important

  .navbar
    padding 0.5rem !important
    .logo
      height 2rem !important

  .sidebar-button
    margin-top 6px !important

  h1
    {$contentClass}:not(.custom) > &
      margin-top 0
      padding-top 0

      &:first-child
        margin-bottom 0
