<header class="header">
    <div class="logo-wrapper">
        <a href="/docs/"><img class="logo" src="assets/images/logo.png" /></a>
    </div>

    <nav class="menu-list">
        <ul>
            <!-- <li>
                <a href="">Learn</a>
            </li>

            <li>
                <a href="">Ecosystem</a>
            </li>

            <li>
                <a href="">Team</a>
            </li>

            <li>
                <a href="">Translations</a>
            </li> -->

            <li>
                <a href="https://github.com/bagisto/bagisto">Edit On Github</a>
            </li>
        </ul>
    </nav>
</header>