<div class="sidebar">
    <ul>
        <li class="menu-heading">
            <a href="index.html">Introduction</a>

            <div class="horizontal-rule"></div>

            <ul class="sub-menu">
                <li>
                    <a href="#requirements">Requirements</a>
                </li>

                <li>
                    <a href="#installation">Installation & configuration</a>
                </li>

                <li>
                    <a href="#directory_structure">Directory structure</a>
                </li>
            </ul>
        </li>

        <!-- Module Development -->
        <li class="menu-heading">
            <a href="create_module.html">Package development</a>
            <div class="horizontal-rule"></div>

            <ul class="sub-menu">
                <li>
                    <a href="#how-to-create-module">Creating a package</a>
                </li>

                <li>
                    <a href="#add-menu">Adding menu in backend & storefront</a>
                </li>

                <li>
                    <a href="#create-acl">Creating ACL</a>
                </li>

                <li>
                    <a href="#custom-configuration">Custom configuration</a>
                </li>

                <li>
                    <a href="#create_models">Creating models</a>

                    <ul>
                        <li>
                            <a href="">Contracts, repositories & proxies</a>
                        </li>

                        <li>
                            <a href="#store-data-through-repository">
                                Store data with repository
                            </a>
                        </li>
                    </ul>

                </li>
            </ul>
        </li>

        <!-- Advanced Topics -->

        <li class="menu-heading">
            <a href="override-core-model.html">Advance topics</a>
            <div class="horizontal-rule"></div>

            <ul class="sub-menu">
                <li>
                    <a href="override-core-model.html">Override core models</a>
                </li>

                <li>
                    <a href="create_theme.html">Creating themes</a>
                </li>

                <li>
                    <a href="create_shipping_method.html">Creating shipping method</a>
                </li>

                <li>
                    <a href="create_payment_method.html">Creating Payment method</a>
                </li>

                <li>
                    <a href="render_event.html">View render event</a>
                </li>

                <li>
                    <a href="events.html">Events</a>
                </li>

                <li>
                    <a href="listen_event.html">Listen existing events</a>
                </li>

                <li>
                    <a href="data_grid.html">Data Grid</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
