<header class="header">
    <div class="logo-wrapper">
        <a href="/">
            <img class="logo" src="assets/images/logo.png" />
        </a>
        <span>Docs</span>
    </div>
</header>

<div class="sidebar">
    <ul>
            <!-- Introduction -->
            <li class="menu-heading">
                <a class="menu-heading-title" href="index.html">Introduction</a>
                <ul class="sub-menu">
                    <li>
                        <a href="index.html#requirements">Requirements</a>
                    </li>

                    <li>
                        <a href="index.html#installation">Installation & configuration</a>
                    </li>

                    <li>
                        <a href="index.html#directory_structure">Directory structure</a>
                    </li>
                </ul>
            </li>

            <!-- Module Development -->
            <li class="menu-heading">
                <a class="menu-heading-title" href="create_package.html">Package development</a>

                <ul class="sub-menu">
                    <li>
                        <a href="create_package.html#how-to-create-module">Creating a package</a>
                    </li>

                    <li>
                        <a href="create_package.html#add-menu">Adding menu in backend & storefront</a>
                    </li>

                    <li>
                        <a href="create_package.html#create-acl">Creating ACL</a>
                    </li>

                    <li>
                        <a href="create_package.html#custom-configuration">Custom configuration</a>
                    </li>

                    <li>
                        <a href="create_package.html#create_models">Creating models</a>

                        <ul>
                            <li>
                                <a href="create_package.html#about">Contracts, repositories & proxies</a>
                            </li>

                            <li>
                                <a href="create_package.html#store-data-through-repository">
                                    Store data with repository
                                </a>
                            </li>
                        </ul>

                    </li>
                </ul>
            </li>

            <!-- Advanced Topics -->
            <li class="menu-heading">
                <a class="menu-heading-title" href="override-core-model.html">Advance topics</a>

                <ul class="sub-menu">
                    <li>
                        <a href="override-core-model.html">Override core models</a>
                    </li>

                    <li>
                        <a href="create_theme.html">Creating themes</a>
                    </li>

                    <li>
                        <a href="create_shipping_method.html">Creating shipping method</a>
                    </li>

                    <li>
                        <a href="create_payment_method.html">Creating Payment method</a>
                    </li>

                    <li>
                        <a href="render_event.html">View render event</a>
                    </li>

                    <li>
                        <a href="events.html">Events</a>
                    </li>

                    <li>
                        <a href="listen_event.html">Listen existing events</a>
                    </li>

                    <li>
                        <a href="data_grid.html">Data Grid</a>
                    </li>
                </ul>
            </li>
    </ul>
</div>


<script>

$(function () {
    $(document).ready(function() {
        setNavigation();
    });

    $('.sub-menu li a').click(function(e) {
        location.reload();
    });
});

function setNavigation() {
    var path = window.location.href;
    var urlPath = path.substring(35, 400);

    $(".sub-menu li a").each(function () {
        var href = $(this).attr('href');

        if (urlPath === href) {
            console.log(href);
            $(this).closest('a').addClass('active');

            $(this).closest('.menu-heading').find('.menu-heading-title').css('color','#0031F0');
        }
    });
}

</script>
