<header class="header">
  <div class="logo-wrapper">
    <a href="http://devdocs.bagisto.com">
      <img class="logo" src="assets/images/logo.png" />
    </a>
    <span>Docs</span>
  </div>
</header>
<div class="sidebar">
  <ul>
    <!-- Introduction -->
    <li class="menu-heading">
      <h5 class="menu-heading-title collapsible" href="index.html">
        Introduction
      </h5>

      <ul class="sub-menu">
        <li>
          <a href="index.html#requirements">Requirements</a>
        </li>

        <li>
          <a href="index.html#installation">Installation & configuration</a>
        </li>

        <li>
          <a href="index.html#directory_structure">Directory structure</a>
        </li>
      </ul>
    </li>

    <!-- Module Development -->
    <li class="menu-heading">
      <h5 class="menu-heading-title collapsible" href="create_package.html">
        Package development
      </h5>

      <ul class="sub-menu">
        <li>
          <a href="create_package.html#how-to-create-package"
            >Creating a package</a
          >
        </li>

        <li>
          <a href="create_package.html#add-menu">Adding menu in backend</a>
        </li>

        <li>
          <a href="create_package.html#create-acl">Creating ACL</a>
        </li>

        <li>
          <a href="create_package.html#custom-configuration"
            >Custom configuration</a
          >
        </li>

        <li>
          <a href="create_package.html#create_models">Creating models</a>

          <ul>
            <li>
              <a href="create_package.html#about"
                >Contracts, repositories & proxies</a
              >
            </li>

            <li>
              <a href="create_package.html#store-data-through-repository">
                Store data with repository
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>

    <!-- Advanced Topics -->
    <li class="menu-heading">
      <h5
        class="menu-heading-title collapsible"
        href="override-core-model.html"
      >
        Advance topics
      </h5>

      <ul class="sub-menu">
        <li>
          <a data-id="override-core-model.html" href="override-core-model.html"
            >Override core models</a
          >
        </li>

        <li>
          <a href="create_theme.html">Creating themes</a>
        </li>

        <li>
          <a href="create_shipping_method.html">Creating shipping method</a>
        </li>

        <li>
          <a href="create_payment_method.html">Creating payment method</a>
        </li>

        <li>
          <a href="render_event.html">View render event</a>
        </li>

        <li>
          <a href="events.html">Events</a>
        </li>

        <li>
          <a href="data_grid.html">Data grid</a>
        </li>

        <li>
          <a href="upgrade_to_latest_bagisto.html">Upgrade To latest version</a>
        </li>

        <li>
          <a href="security_practice.html">Best Practices for Security</a>
        </li>
      </ul>
    </li>

    <!-- Bagisto APIs -->
    <li class="menu-heading">
      <h5 class="menu-heading-title collapsible" href="bagisto_api.html">
        Bagisto Web APIs
      </h5>

      <ul class="sub-menu">
        <li><a href="api_category.html">Categories</a></li>
        <li><a href="api_product.html">Products</a></li>
        <li><a href="api_product_review.html">Product's Reviews</a></li>
        <li><a href="api_customer.html">Customers</a></li>
        <li><a href="api_customer_review.html">Customer's Reviews</a></li>
        <li><a href="api_customer_wishlist.html">Customer's Wishlist</a></li>
        <li><a href="api_customer_addresses.html">Addresses</a></li>
        <li><a href="api_order.html">Orders</a></li>
        <li><a href="api_invoice_shipment.html">Invoices & Shipments</a></li>
        <li><a href="api_cart.html">Shopping Cart</a></li>
      </ul>
    </li>

    <!-- User Guides -->
    <li class="menu-heading">
      <h5 class="menu-heading-title collapsible" href="cart_rule.html">
        User Guides
      </h5>

      <ul class="sub-menu">
        <li>
          <a href="cart_rule.html">Cart Rule</a>
        </li>

        <li>
          <a href="error_translation.html">
            How to change language of error validation on front end
          </a>
        </li>

        <li>
          <a href="translation_on_locale.html">
            Translation based on locale
          </a>
        </li>

        <!-- <li>
        <a href="et_category.html">Set category at store</a>
      </li>

      <li>
        <a href="onfigure_homepage.html">How to Edit Home Page Design ?</a>
      </li> -->

        <!-- <li>
        <a href="bout_cms.html">CMS</a>
      </li> -->
      </ul>
    </li>

     <!-- Bagisto Version 1 -->
     <li class="menu-heading">
      <h5 class="menu-heading-title collapsible">
        Updates in bagisto v1.0.0
      </h5>

      <ul class="sub-menu">
        <li>
          <a href="create_own_product_type.html">Create your own product type</a>
        </li>

        <li>
          <a>Migration guide</a>
          <ul class="child-menu">
            <li>
              <a href="backward-incompatible.html">Backward incompatible changes</a>
            </li>

            <li>
              <a href="cart_catalog_rule.html">Revampment of Catalog & Cart rule</a>
            </li>

            <li>
              <a href="migrate_version.html">Upgrading To bagisto 1.0.0 from 0.2.2</a>
            </li>

            <li></li>
            <li></li>
          </ul class="child-menu">
        </li>
      </ul>
    </li>
  </ul>
</div>

<script type="text/javascript">
  $(".menu-heading  a").hover(
    function() {
      $(this).css("color", "#0031f0");
    },
    function() {
      $(this).css("color", "#2c3145");
    }
  );

  // $('.version-changer select').on('change', function() {
  //   var pathname = window.location.pathname;
  //   var newUrl = location.href.replace(pathname, this.value);
  //   location.replace(newUrl);
  // })
</script>

<script type="text/javascript">
  window.addEventListener("load", function() {
    var loc = window.location.pathname;
    var urlPath = loc.slice(1, loc.length);
    var fullPath = window.location.href;

    $("ul")
      .find("a")
      .each(function() {
        if ($(this).attr("href") == urlPath) {
          demo = this.parentElement;
          var coll = document.getElementsByClassName("collapsible");
          var content = demo.parentElement;

          if (content.style.display === "block") {
            content.style.display = "none";
          } else {
            content.style.display = "block";
          }
        }
      });
  });

  var coll = document.getElementsByClassName("collapsible");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      var content = this.nextElementSibling;

      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
</script>

<!-- <script type="text/javascript">
// menu heading as active
var loc = window.location.pathname;
var urlPath = loc.slice(1, loc.length);
$("ul")
  .find("a")
  .each(function() {
    $(this).toggleClass("current", $(this).attr("href") == urlPath);
  });

// sub-menu as active
let mainNavLinks = document.querySelectorAll("ul.sub-menu li a");
let mainSections = document.querySelectorAll("div.right-content");

let lastId;
let cur = [];

// This should probably be throttled.
// Especially because it triggers during smooth scrolling.
// https://lodash.com/docs/4.17.10#throttle
// You could do like...
// window.addEventListener("scroll", () => {
//    _.throttle(doThatStuff, 100);
// });
// Only not doing it here to keep this Pen dependency-free.

window.addEventListener("scroll", event => {
  let fromTop = window.scrollY;

  mainNavLinks.forEach(link => {
    let section = document.querySelector(link.hash);

    if (
      section.offsetTop <= fromTop &&
      section.offsetTop + section.offsetHeight > fromTop
    ) {
      link.classList.add("current");
    } else {
      link.classList.remove("current");
    }
  });
});
</script> -->
