---
---

@charset "utf-8";

// Variables starts here
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600");

$font-montserrat: "Montserrat", sans-serif;

$font-color: #242424;
$border-color: #C7C7C7;
$brand-color: #0031F0;
$font-color-light: #A5A5A5;
$link-color: #2650EF;
$background-color: #F2F2F2;
$dark-background: #121212;
$disc-price: #FF6472;
$radio-button: #FF6472;
$radio-button-disabled: rgba(255, 100, 113, 0.400);
$danger-color: #FF6472;
$disc-price-pro: #A5A5A5;
$other-font-color: #5E5E5E;
$title-color: #8E8E8E;
$address-card-border-color: #E8E8E8;
$bold-color: #3A3A3A;
$sticker-color: #2ED04C;
$stock-color: #4CAF50;
$rating-color: #FC6868;
$star-color: #d4d4d4;
$error-color: #ff5656;
$line-bar-color: #D8D8D8;
$btn-background-color: #fff;
$info-color: #204d74;
$ltgray: lightgray;
$listcolor: #333333;
$spnr-color: #bababa;
$shadow-color: #ccc;
$shadow-color1: #cccccc;
$outline-hvr: #eaeaec;
$review-details: #5e5e5e;
//shop variables ends here

$font-montserrat: "Montserrat", sans-serif;
// Variable end here


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: $background-color;
    font-weight: 500;
    letter-spacing: -0.10px;
    font-family: $font-montserrat;
    color: $font-color;
    overflow-x: hidden;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

footer {
    text-align: center;
}

table, tr, td {
    border: 1px solid grey;
}

tr:nth-child(even) {
    background-color: $background-color;
}

td {
    padding: 5px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: outset;
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;

    .content-wrapper {
        max-width: 1300px;
        height: auto;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $background-color;
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    padding: 10px;
    z-index: 2;
    box-shadow: 5px 9px 12px -9px #888888;

    .logo-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 19px;
        float: right;

        .logo {
            height: 45px;
            width: 110px;
            padding-right: 6px;
        }

        span {
            padding-top: 5px;
            padding-left: 5px;
            font-size: 17px;
            border-left: 1px solid black;
        }
    }

    .logo-wrapper a:hover{
        text-decoration: none;
    }

    .menu-list {

        ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            list-style-type: none;

            li {
                font-weight: 600;
                margin-right: 15px;
                padding-left: 20px;

                a {
                    font-size: 18px;
                    letter-spacing: 0.8px;
                }
            }

            li:last-child {
                margin-right: 0px;
            }
        }
    }
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .side-menu {
        width: 30%;
        position: sticky;
        overflow: auto;
        box-shadow: 5px 9px 12px -9px #888888;


        .sidebar {
            position: sticky;
            top: 0;

            ul li {
                list-style-type: none;

                a:hover {
                    // border-bottom: 1px solid $link-color;
                }
            }
        }
    }

    .right-content {
        width: 70%;
        word-wrap: break-word;
        padding: 15px;

        h1 {
            display: inline-flex;
            border-bottom-style: solid;
            border-bottom-width: thin;
            border-bottom-color: $brand-color;
        }

        h3 {
            border-bottom-style: solid;
            border-bottom-width: thin;
            border-bottom-color: lightgrey;
        }
    }

}

.nav-link {
    font-size: 12px;
    font-style: normal;
}

.menu-heading {
    padding-top: 15px;

    .sub-menu {
        padding-top: 10px;

        li {
            padding: 2px;
        }
    }

    a {
        font-size: 15px;
    }
}

.sub-menu li a{
    color: #0041ff;
}

// .submenu li a:hover {
//     border-bottom: 1px solid #0041ff;
// }

.menu-heading > a {
    font-size: 18px;
}

.edit-github {
    float: right;
    font-size: 15px;
    margin-top: -70px;
    // img {
    //     width: 20px;
    //     height: 16px;
    // }
}

.pencil-icon {
    width: 20px;
    height: 16px;
    float: right;
    margin-top: -70px;
    margin-right: 110px;
}

// .horizontal-rule {
//     display: block;
//     border: 0;
//     border-bottom: 1px solid #0031F0;
//     max-width: 50px;
// }