---
---

@charset "utf-8";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: black;
    line-height: 1.5294717647;
    font-weight: 400;
    letter-spacing: -0.021em;
    font-family: "Times New Roman", Times, serif;
    background-color: white;
    color: #191919;
    font-style: normal;
    overflow-x: hidden;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: outset;
}


a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    // border-bottom: 2px solid rgb(137, 144, 151);
    cursor: pointer;
}

.container {
    height: 100%;
    width: 100%;

    .content-wrapper {
        max-width: 1300px;
        height: auto;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 5px 9px 12px -9px #888888;
    z-index: 2;

    .logo-wrapper a span {
        font-size: 19px;
        float: right;
        margin-top: 17px;
        padding-left: 5px;
    }

    .logo-wrapper a:hover{
        text-decoration: none;
    }

    .logo {
        height: 50px;
        width: 125px;
    }

    .menu-list {

        ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            list-style-type: none;

            li {
                font-weight: bold;
                margin-right: 15px;
                padding-left: 20px;
                color: red;

                a {
                    font-size: 22px;
                    letter-spacing: 0.8px;
                    font-weight: normal;
                }
            }

            li:last-child {
                margin-right: 0px;
            }
        }
    }
}



.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 100vh;
    height: auto;

    .side-menu {
        width: 25%;
        position: sticky;
        top: 71px;
        letter-spacing: -0.021em;
        padding-left: 0px;
        height: 600px;
        overflow-y: scroll;
        background-color: #F8F8FF;
        box-shadow: 5px 9px 12px -9px #888888;
        font-family: "Times New Roman", Times, serif !important;

            .sidebar {

                ul li {
                    list-style-type: none;

                    a:hover {
                        border-bottom: 1px solid #0041ff;
                    }
                }
            }
    }

    .right-content {
        width: 70%;
        word-wrap: break-word;
        padding: 15px;
    }

}

footer {
    font-family: Montserrat-Regular;
    font-size: 15px;
    color: #323232;
    letter-spacing: 0;
    text-align: center;

    span {
        display: inline-block;
    }
}

table, tr, td {
    border: 1px solid grey;
    }

tr:nth-child(even) {
    background-color: #f2f2f2
}

td {
    padding: 5px;
}

.nav-link {
    font-size: 12px;
    font-style: normal;
    letter-spacing: -0.021em;
}

.menu-heading {
    padding-top: 15px;

    a {
        font-size: 15px;
        letter-spacing: 0.6px;
    }
}

.sub-menu li a{
    color: #0041ff;
}

.submenu li a:hover {
    border-bottom: 1px solid #0041ff;
}


.horizontal-rule {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.menu-heading > a {
    font-size: 18px;
}

.edit-github {
    float: right;
    font-size: 16px;
    margin-top: 9px;
    font-weight: normal;
    box-shadow: 15px 14px 16px -9px #888888;
    font-style: italic;
    z-index: 2;
    background-color: #ffffff;
}

.side-menu::-webkit-scrollbar {
    width: 5px;
}

.side-menu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);

}

.side-menu::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 20px;
}


body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 15px;
}