---
---

@charset "utf-8";

// Variables starts here
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600");

$font-montserrat: "Montserrat", sans-serif;

$font-color: #242424;
$border-color: #C7C7C7;
$brand-color: #0031F0;
$font-color-light: #A5A5A5;
$link-color: #2650EF;
$background-color: #F2F2F2;
$dark-background: #121212;
$disc-price: #FF6472;
$radio-button: #FF6472;
$radio-button-disabled: rgba(255, 100, 113, 0.400);
$danger-color: #FF6472;
$disc-price-pro: #A5A5A5;
$other-font-color: #5E5E5E;
$title-color: #8E8E8E;
$address-card-border-color: #E8E8E8;
$bold-color: #3A3A3A;
$sticker-color: #2ED04C;
$stock-color: #4CAF50;
$rating-color: #FC6868;
$star-color: #d4d4d4;
$error-color: #ff5656;
$line-bar-color: #D8D8D8;
$btn-background-color: #fff;
$info-color: #204d74;
$ltgray: lightgray;
$listcolor: #333333;
$spnr-color: #bababa;
$shadow-color: #ccc;
$shadow-color1: #cccccc;
$outline-hvr: #eaeaec;
$review-details: #5e5e5e;
//shop variables ends here

$font-montserrat: "Montserrat", sans-serif;
// Variable end here


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: $background-color;
    font-weight: 500;
    letter-spacing: -0.10px;
    font-family: $font-montserrat;
    color: $font-color;
    overflow-x: hidden;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 14px;
}

footer {
    text-align: center;
}

table, tr, td {
    border: 1px solid grey;
}

tr:nth-child(even) {
    background-color: #f5f5f5;
}

td {
    padding: 5px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    // border-style: outset;
}

.screenshot-dimension {
    height: 90%;
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;

    .content-wrapper {
        max-width: 1300px;
        height: auto;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #F2F2F2;
    width: 320px;
    border-right: 2px solid;
    border-right-color: rgba(151,151,151,0.5);
    position: fixed;
    top: 0px;

    .logo-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 19px;
        float: right;

        .logo {
            height: 45px;
            width: 110px;
            padding-right: 6px;
        }

        span {
            margin-top: 5px;
            padding-left: 5px;
            font-size: 17px;
            border-left: 1px solid black;
        }
    }

    .logo-wrapper a:hover{
        text-decoration: none;
    }

    .menu-list {

        ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            list-style-type: none;

            li {
                font-weight: 600;
                margin-right: 15px;
                padding-left: 20px;

                a {
                    font-size: 18px;
                    letter-spacing: 0.8px;
                }
            }

            li:last-child {
                margin-right: 0px;
            }
        }
    }
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;


    .side-menu {
        width: 320px;
        background-color: #f1f1f1;
        position: fixed;
        height: 100%;
        overflow: auto;
        border-right: 2px solid;
        border-right-color: rgba(151,151,151,0.5);

        .sidebar {
            width: 320px;
            background-color: #f1f1f1;
            position: fixed;
            height: 100%;
            overflow: auto;
            border-right: 2px solid;
            border-right-color: rgba(151,151,151,0.5);
            margin-top: 40px;

            ul {
                padding: 0;
            }

            ul li {
                list-style-type: none;
                padding: 4.7px;
            }
        }
    }

    .right-content {
        width: 100%;
        padding-left: 340px;

        p:first-child a {
            border: 1px solid red;
        }

        span {
            overflow-x: auto;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: Montserrat;
            color: #3D3D3D;
            letter-spacing: 0;
        }

        p, li {
            font-family: PTSerif-Regular;
            font-size: 17px;
            color: #323232;
            letter-spacing: 0;
            line-height: 31px;
        }
    }
}

.nav-link {
    font-family: Montserrat-SemiBold;
    font-size: 12px;
    color: #2C3145;
    letter-spacing: 0;
    font-size: 1.26em;
}

.menu-heading {
    padding-top: 15px;

    .sub-menu {
        padding-top: 6px;

        li {
            padding: 2px;
        }
    }

    a {
        font-size: 15px;
    }
}

.sub-menu li a{
    // color: #0041ff;
    font-family: Montserrat-Medium;
    font-size: 16px;
    letter-spacing: 0;
}

// .submenu li a:hover {
//     border-bottom: 1px solid #0041ff;
// }

.menu-heading > a {
    font-size: 1.26em;
    font-family: Montserrat-SemiBold;
    color: #2C3145;
    letter-spacing: 0;
}

.edit-github {
    float: right;
    font-size: 18px;
    margin-top: -53px;
    font-family: Montserrat-SemiBold;
    // img {
    //     width: 20px;
    //     height: 16px;
    // }
}

.pencil-icon {
    width: 20px;
    height: 16px;
    float: right;
    margin-top: -46px;
    margin-right: 110px;
}

.current {
    color: $brand-color;
    font-size: 17px !important;
}

li ul {
    padding-left: 20px !important;
}

.along {
    border: 1px solid red;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.bagsito-link { color: #0041ff; text-decoration: underline; cursor: pointer; }