<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="keywords"
      content="bagisto documentation, bagisto API, laravel ecommerce"
    />
    <meta name="viewport" content="width=device-width,user-scalable=yes,initial-scale=1,maximum-scale=5">
    <meta
      name="description"
      content="Easily extend functionality, build extensions and mobile applications on top of the bagisto framework using the bagisto development and API documentation"
    />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="assets/scss/layout.css" />
    <link rel="stylesheet" href="assets/css/syntax.css" />
    <link rel="icon" sizes="16x16" href="assets/images/icons/favicon.ico" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="content-wrapper">
        <div class="content">
          <div class="side-menu">
              <div id="sidebar-icon" class="hangburger"></div>
            {% include sidebar.html %}
          </div>

          <div class="right-content">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function(){
        $(".hangburger").click(function(){
          $(".side-menu").toggleClass('active');
        });
      });
    </script>
  </body>
</html>
